
@media (max-width: 1200px) {
    #sidebar {
        max-width: 33.333333%;
    }
}

@media (max-width: 991px) {

    .header-banner {
        max-height: 500px;
    }
    
    .featured-guest .section-heading {
        margin-bottom: 42PX;
    }

    .page-content {
        padding: 50px 0;
    }

    .page-content .header-title {
        font-size: 38px;
    }

    #sidebar {
        max-width: 100%;
        margin-top: 42px;
    }

    #footer-widgets .column {
        margin-bottom: 42px;
    }

    #footer-widgets .column:last-child,
    #footer-widgets .column:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {

    .list-wrap {
        max-width: 500px;
        margin: 0 auto 40px;
    }

    .list-wrap figure,
    .list-content {
        width: 100%;
    }

    .navigation .nav_direction .column {
        width: 100%;
    }

    .navigation .nav_direction .column.next_post {
        margin-top: 22px;
    }

    #footer .newsletter-widgets .widget-title {
        font-size: 32px;
    }
}

@media (max-width: 576px) {

    .header-banner {
        max-height: 500px;
    }

    .banner-heading {
        font-size: 58px;
    }

    .banner-sub-heading {
        font-size: 22px;
    }

    .list-content {
        padding: 30px;
    }

    .episode-title {
        font-size: 22px;
    }

    .comment-form-author, 
    .comment-form-email,
    .comment-form-url {
        width: 100%;
    }

    .comment-form-email {
        margin-left: 0;
    }

    .page-content {
        padding: 40px 0;
    }

    .page-content .header-title {
        font-size: 28px;
    }

    article .post-wrap .entry-title {
        font-size: 24px;
    }

    #footer-widgets .column:nth-last-child(2) {
        margin-bottom: 42px;
    }

    #footer .newsletter-widgets .tnp-form {
        height: auto;
        margin-top: 28px;
    }

    #footer .newsletter-widgets .tnp-widget {
        margin-top: 28px;
    }

    #footer .newsletter-widgets .tnp-widget-minimal input.tnp-email,
    #footer .newsletter-widgets .tnp-widget-minimal input.tnp-submit {
        width: 100%;
        height: 45px;
        border-radius: 0;
        border: 1px solid #777777;
    }

    #footer .newsletter-widgets .tnp-widget-minimal input.tnp-submit {
        margin-top: 15px;
    }

    #footer .site-info {
        width: 100%;
    }

    #footer #social-menu {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .banner-heading {
        font-size: 48px;
    }

    .banner-sub-heading {
        font-size: 18px;
    }
}